<!DOCTYPE html>
<html>
  <head>
    <title>Tourism Form</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Tourism Form</h1>
    <center>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required /><br /><br />

        <label for="destination">Destination:</label>
        <select id="destination" name="destination">
          <option value="paris">Paris</option>
          <option value="rome">Rome</option>
          <option value="tokyo">Tokyo</option></select
        ><br /><br />

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea
        ><br /><br />

        <input type="submit" value="Submit" />
      </form>
    </center>
  </body>
</html>
 